:global {
	& code {
		padding: 5px;
		border-radius: 6px;
		color: var(--color-secondary);
		background: var(--color-tertiary);
		white-space: pre-wrap;

		&[class] {
			display: block;
			padding: 5px 10px;
		}
	}
}
