@import '../../assets/css/variables.css';

:global {
	& .data-custom-row {
		padding-right: 5px;
		padding-left: 5px;
	}

	& table {
		width: 100%;
		display: block;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		
		@media (--screen-lg) {
			display: table;
			overflow: auto;
		}
	}
}
