@import '../../assets/css/variables.css';

:global {
	& .data-custom-row {
		padding-right: 0;
		padding-left: 0;
		margin-right: -5px;
		margin-left: -5px;
	}
}

.introContent {
	& table {
		display: table;
		width: initial;

		& td,
		& th {
			font-size: var(--size-text-desktop);
		}

		& th:first-of-type,
		& td:first-of-type {
			padding-right: 0;
		}
	}
}

.endContent {
	& table {
		width: 100%;
		display: block;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		
		@media (--screen-lg) {
			display: table;
			overflow: auto;
		}
	}
}
