@import '../../../assets/css/variables.css';

.text {
	&.eyebrow {
		@mixin eyebrow;
	}

	&.textLeft {
		text-align: left;
	}

	&.textCenter {
		text-align: center;
	}

	&.textRight {
		text-align: right;
	}
}
