@import '../../../assets/css/variables.css';

.text {
	@mixin paragraph;

	&.eyebrow {
		@mixin eyebrow;
	}

	&.subtitle {
		@mixin subtitle;
	}

	&.small {
		@mixin small;
	}

	&.blockquote {
		@mixin blockquote;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 32px;
			height: 22px;
			background-image: url('../../../assets/svg/raw/quote.svg');
		}
	}

	&.textLeft {
		text-align: left;
	}

	&.textCenter {
		text-align: center;
	}

	&.textRight {
		text-align: right;
	}
}
