@import '../../../assets/css/variables.css';

div.readable {
	box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	position: relative;
	max-width: 992px;

	&.home {
		@media (--screen-lg) {
			padding-left: 80px;
			max-width: 100%;
		}
	}

	&.normalLinks {
		& a:not([class]) {
			display: inline-block;
			padding: 0;
		}
	}

	@media (--screen-lg) {
		margin: 64px auto;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		padding: 0;
		margin: 20px 0;
	}

	& a:not([class]) {
		display: inline-block;
		padding: 5px 0;
	}

	& ul,
	& ol {
		& a:not([class]) {
			display: initial;
			padding: 0;
		}
	}

	&.noOrderedLists {
		& ol {
			list-style: none;
			margin: 0;
			padding: 0;

			& li {
				padding-left: 0;
				margin-left: 0;

				&:before {
					content: none;
				}
			}
		}
	}

	&.noUnorderedLists {
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;

			& li {
				padding-left: 0;
				margin-left: 0;

				&:before {
					content: none;
				}
			}
		}
	}
}
