@import '../../assets/css/variables.css';

:global {
	& table {
		border-collapse: collapse;
		border: solid 1px var(--color-gray-light);
		width: 100%;
	}

	& table td,
	& table th {
		font-weight: 400;
		padding: 4px 7px;
		font-size: var(--size-small-desktop);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	& table th {
		font-weight: 700;
		background: var(--color-tertiary);
	}

	& table td {
		color: var(--color-secondary);
	}

	& table th:first-child,
	& table td:first-child {
		padding-left: 8px;
	}

	& table tr th {
		border: 0;
	}

	& table tr td {
		border: 0;
	}

	& table tr:nth-child(even) {
		background: var(--color-tertiary);
	}

	& table tr:nth-child(odd) {
		background: var(--color-light);
	}

	& code {
		padding: 5px;
		color: var(--color-secondary);
		background: var(--color-tertiary);
	}
}
