@import '../../../assets/css/variables.css';

.tabsWrapper {
	background: var(--super-light);

	@media (--screen-mobile) {
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	&.wrap {
		& .tabList {
			flex-wrap: wrap;
		}
	}

	& .tabList {
		@mixin noList;
		display: flex;
		flex-wrap: nowrap;
		border-radius: 20px;
		border: solid 1px var(--light-gray);
		background: var(--white);
		padding: 0;
		position: relative;
		z-index: 10;

		@media (--screen-mobile) {
			border-radius: 0;
		}

		& .tabButton {
			box-sizing: border-box;
			padding: 5px 10px;
			margin: 3px;
			border-radius: 30px;
			cursor: pointer;
			transition: all 0.3s ease;
			white-space: nowrap;
			text-overflow: ellipsis;
			hyphens: auto;
			overflow: hidden;
			font-weight: 500;

			@media (--screen-mobile) {
				padding: 5px 10px;
				border-radius: 0;
				font-size: var(--default-font-size);
				text-align: center;
				flex: 1;
				position: relative;
				background: var(--super-gray);
				margin: 0;
				display: flex;
				flex-wrap: wrap;

				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					transition: all 0.3s ease;
				}
			}

			&.active {
				background: var(--primary-color);
				color: var(--white);
				border-radius: 30px;

				@media (--screen-mobile) {
					border-radius: 0;
					background: var(--white);
					color: var(--black);

					&:after {
						width: 100%;
						height: 4px;
						background: var(--primary-color);
					}
				}
			}

			& em, & span {
				@media (--screen-mobile) {
					margin: auto;
					display: block;
					width: 100%;
					text-align: center;
					font-size: var(--h5-font-size);
				}
			}

			& small {
				vertical-align: middle;
				font-weight: 400;

				@media (--screen-mobile) {
					display: block;
					line-height: 1;
					margin-bottom: 5px;
					width: 100%;
					color: color-mod(var(--black) alpha(50%));
				}
			}
		}
	}

	& .tabContent {
		border: solid 1px var(--light-gray);
		padding-top: 20px;
		margin-top: -20px;
		padding: 40px 20px 20px;
		font-size: var(--default-font-size);
		font-style: normal;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;

		@media (--screen-mobile) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
