@import '../../assets/css/variables.css';

.footer {
	box-sizing: border-box;
	width: 100%;
	margin: auto;

	& a {
		& img {
			transform: scale(1);
		}

		&:hover {
			& img {
				transform: scale(1.1);
			}
		}

		&:active {
			& img {
				transform: scale(1);
			}
		}
	}
}
