@import '../../assets/css/variables.css';

.images {
	margin-top: 10px;
	margin-bottom: 10px;

	& img {
		transform: scale(1);
		box-shadow: 0 0 30px -20px color-mod(var(--color-primary) alpha(30%));
		transition: all 0.3s ease;
	}
}

.button {
	margin-bottom: 0;
}
