@import '../../assets/css/variables.css';

.technologies {
	@mixin noList;
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
	
	@media (--screen-lg) {
		padding-top: 64px;
	}

	& li {
		margin: 10px;
		display: flex;

		& svg {
			margin: auto;
			max-width: 60px;
			width: 100%;

			@media (--screen-lg) {
				max-width: 100%;
			}
		}
	}
}