@import '../../assets/css/variables.css';

.navigation {
	border-right: solid 1px var(--color-gray-light);
	width: 20%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;

	& .logo {
		display: block;
		padding: 64px;
		position: relative;

		& h1 {
			pointer-events: none;
			color: var(--color-light);
			position: absolute;
			font-size: 1px;
		}

		& span {
			position: absolute;
			left: 50%;
			transform: translateY(-10px) translateX(-50%);
			color: var(--color-secondary);
			text-transform: uppercase;
			font-size: var(--size-mobile-small);
		}
		
	}

	& .list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		border-top: solid 1px var(--color-gray-light);

		& .navItem,
		& > li {
			display: block;
			border-bottom: solid 1px var(--color-gray-light);

			& .link,
			& a {
				color: var(--color-secondary);
				display: block;
				width: 100%;
				padding: 20px;
			}

			&.opened {
				& * {
					color: red;
				}
			}

			& .sub {
				list-style: none;
				padding: 0;
				margin: 0;
				display: block;

				& li {
					&:first-child {
						border-top: solid 1px var(--color-gray-light);
					}
				}

				& .link,
				& a {
					border-bottom: none;
					border-top: none;
				}
			}
		}
	}

}
