@import '../../../assets/css/variables.css';

.wrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 992px;
	margin: auto;
	min-height: 100vh;

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		padding: 20px 0;
	}

	& + > {
		padding-top: 0;
	}
}
